.App {
  text-align: center;
}

.controls-status-wrapper {
  display: flex;
}

.controls {
  flex: 0 0 65%;
  text-align: center;
}

.status {
  flex: 1;
}
.sliderLabel {
  position: relative;
  top: -4px;
  font-weight: bold;
  padding: 5px;
}

.sliderValueLabel {
  position: relative;
  top: -4px;
  padding: 5px;
}

.optionsLabel {
  position: relative;
  top: -1px;
  font-weight: bold;
  padding: 5px;
}

.borderDiv {
  display: inline;
  margin-left: 50px;
  padding: 5px;
}